@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Suez+One&display=swap');
body{
  background-color:#f2f0eb;
  margin:0px;
  padding:0px;
  border:0px;
  overflow-x:hidden;
}
ul{
  overflow-x:hidden;
  list-style:none;
  margin:0px auto 0px auto;
  width:960px;
  background:#f2f0eb;
}
.sec{
  height:40px;
  float:left;
  font-weight:bold;
  text-transform:uppercase;
  width:185px;
  text-align:center;


}
.sec:nth-child(1){
padding:15px 15px 0px 15px;
margin:10px 25px 0px 0px;
background-color:#bbb;
width:170px;
margin:10px 25px 0px -10px;
box-shadow: -2px -2px 0px 0.1px #939191;
text-shadow: 0px 3px 3px #928e8e;
}
.sec:nth-child(2){
  padding:15px 15px 0px 15px;
  margin:10px 25px 0px 0px ;
  background-color:#bbb;
  box-shadow: -2px -2px 0px 0.1px #939191;
  text-shadow: 0px 3px 3px #928e8e;
}


.sec:nth-child(3){
  padding:15px 15px 0px 15px;
  margin:10px 25px 0px 0px;
  background-color:#bbb;
  box-shadow: -2px -2px 0px 0.1px #939191;
  text-shadow:  0px 3px 3px #928e8e;
}

.sec:nth-child(4){
  padding:15px 15px 0px 15px;
  margin:10px 25px 0px 0px;
  background-color:#bbb;
  width:184px;
  box-shadow: -2px -2px 0px 0.1px #939191;
  text-shadow: 0px 3px 3px #928e8e;
}



#about{
  background-color:#4d4d4e;
  font-size:32px;
  padding:1px 0px 56px 20px ;
  height:109px;

  color:#f2f0eb;
  margin:10px 0px 0px 0px;
  font-family:'Arsenal',sans-serif;
  letter-spacing:2px;
  text-shadow:2px 3px 3px #847e7e;
}
#main{
  width:980px;
  margin:0px auto;
  background-color:#fff;

}
#bio{
  font-size:22px;
  word-spacing:6px;
padding:10px 10px 40px 40px ;
margin:0px 22px 0px 0px;
}
.navbar {
  text-decoration-line:none;
  color:#000;
}
